<!DOCTYPE html>
<html>

{% block head %}
<head>
{% load static %}
<title>{% block title %}Inventory{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
{% endblock %}
<body>
    <nav>
        <div class="logo"><a href="{% url 'home' %}">DJANGO DELIGHTS</a></div>
        <div class="links">
            <a href="{% url 'home' %}">HOME PAGE</a>
            <a href="{% url 'ingredients' %}">INGREDIENTS</a>
            <a href="{% url 'menu' %}">MENU</a>
        </div>


    </nav>


{% block content %}
{% endblock %}
</body>
</html>
