<!DOCTYPE html>
<html>

{% block head %}
<head>
{% load static %}
<title>{% block title %}Inventory{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
{% endblock %}
<body>
    <nav class="header">
        <span class="logo">DJANGO DELIGHTS</span>
        <ul>
            <li><a href="{% url 'home' %}">HOME PAGE</a></li>
            <li><a href="{% url 'ingredients' %}">INGREDIENTS</a></li>
            <li>MENU</li>
            
        </ul>



    </nav>


{% block content %}
{% endblock %}
</body>
</html>