<!DOCTYPE html>
<html>
{% extends './base.html' %}
{% load static %}

{% block content %}
<body>
    
<!-- Banner -->
<div class="banner">
    <h2>Eddie Mapes</h2>
    <h1>Django Delights</h1>
</div>  

<!-- Content section including picture w/ caption   -->

<div class="content">
    <div class="first photo">
        <div class="image-container">
            <img src="{% static '/css/img/foods.jpg' %}">
        </div>
        <span class="caption">"Only the finest ingredients are used" -The Chef</span>
    </div>





</div>



    
</body>
{% endblock %}

</html>