<!DOCTYPE html>
<html>
{% extends './base.html' %}
{% load static %}

{% block content %}
<body>
    
<!-- Banner -->
<div class="banner">
    <h2>Eddie Mapes</h2>
    <h1>The Kitchen API</h1>
</div>  
<img src="{% static '/css/img/foods.jpg' %}">
<!-- Content section including picture w/ caption   -->

<div class="content">
    <div class="first photo">
        <div class="image-container">
            <img src="../css/img/foods.jpg">
        </div>
        <span class="caption">Only the finest ingredients are used</span>
    </div>





</div>



    
</body>
{% endblock %}

</html>