{% extends './base.html' %}
{% block title %}Ingredients Inventory List{% endblock %}

{% block content %}


<div class="ingredient-div">
<table class="ingredient-table">
    <th class="ingredient-th">Ingredient</th>
    <th class="ingredient-th">Quantity</th>
    {% for i in ingredients %}
    
        <tr>
          <td class="ingredient-td">{{ i.ingredient_name }}</td>
          <td class="ingredient-td">{{ i.ingredient_quantity }}</td>  
        </tr>
{% endfor %}
</table>
</div>

{% endblock %}