{% extends './base.html' %}
{% block title %}Our Menu{% endblock %}
{% block content %}
<h1 style="text-align: center;">Menu</h1>
<hr>

<form method="POST">
    {% csrf_token %}
<div class="ingredient-div">
    <table class="ingredient-table">
    <tr>
        <th class="ingredient-th">Item</th>
        <th class="ingredient-th">Price</th>
        <th class="ingredient-th">Ingredients</th>
    </tr>
    {% for menu_item in menu_items %}
    <tr>
        <td class="ingredient-td">{{ menu_item.name }}</td>
        <td class="ingredient-td">${{ menu_item.price }}</td>
        <td class="ingredient-td">
                {% for requirement in menu_item.reciperequirement_set.all %}
                <p>{{ requirement.ingredient.name }} - {{ requirement.quantity }}</p>
                {% endfor %}
        </td>
        
    </tr>
    
    {% endfor %}
    
</table>
</div>

</form>


<br>
<a href="{% url 'create_menuitem' %}">Create a menu item</a>
<br>
<a href="{% url 'create_reciperequirement' %}">Add a requirement for a menu item</a>
<br>
<a href="{% url 'create_purchase' %}">Add items to purchase</a>


{% endblock %}


