{% extends './base.html' %}
{% block title %}Our Menu{% endblock %}
{% block content %}

<div class="ingredient-div">
    <table class="ingredient-table">
    <tr>
        <th class="ingredient-th"><u>Item</u></th>
        <th class="ingredient-th"><u>Price</u></th>
        <th class="ingredient-th"><u>Ingredients</u></th>
    </tr>
    {% for menu_item in menu_items %}
    <tr>
        <td class="ingredient-td">{{ menu_item.name }}</td>
        <td class="ingredient-td">${{ menu_item.price }}</td>
        <td class="ingredient-td">
            
                {% for requirement in menu_item.reciperequirement_set.all %}
                <p>{{ requirement.ingredient.name }} - {{ requirement.quantity }}</p>
                {% endfor %}
            
            
        </td>
    </tr>
    {% endfor %}
</table>
</div>

<br>
<a href="{% url 'create_menuitem' %}">Create a menu item</a>


{% endblock %}


